# VidSense – Human Activity Recognition Dependencies

# Core ML / DL
tensorflow==2.14.0        
keras==2.14.0(optional if using tf.keras)
numpy==1.24.4              
scikit-learn==1.2.2        
pandas==2.1.1              

# Computer vision / video processing
opencv-python==4.8.1.78    
opencv-python-headless==4.8.1.78  

# Notebook / visualization
matplotlib==3.8.1          
seaborn==0.12.2            
notebook==7.0.0           

# Utility
tqdm==4.66.1              

python-dateutil==2.8.2
